.c4{
    margin-left: 400px;
}
/* .c1{
    position: sticky; 
    margin-top:0px;
} */
.ss{
    position: sticky;
    margin-top: 0px;
}
/* a:focus{
    background-color: green;
} */
/* a:active{
    background-color: green;
} */
.c3{
    margin-left: 605px;
}
/* a:active{
    background-color: blue;

} */