<br><br>
<hr>
<hr>
<footer class="py-5 bg-white">
    <div class="container row">
        <div class="col-sm-4" style="text-align: center;">
            <h2 style="color: rgb(126, 122, 122);"><b><span> Download the app</span></b></h2>

            <div>
                <img src="https://i.postimg.cc/nrcqhhxB/image.png" alt="">
            </div><br>
            <div>
                <img src="https://i.postimg.cc/vT3k4TVs/image.png" alt="">
            </div>

        </div>
        <div class="col-sm-4" style="text-align: center;">
            <div class="p-3">
                <a class="anc" href="">about us</a>
            </div>
            <div class="p-3 ">
                <a class="anc" href="">farmhouse</a>
            </div>
            <div class="p-3 anc">
                <a class="anc" href="">contactus</a>
            </div>
        </div>
        <div class="col-sm-4 " style="text-align: center;">
            <div class="p-3">
                <a class="anc" href="">privacy policy</a>
            </div>
            <div class="p-3 ">
                <a class="anc" href="">guest policy</a>
            </div>
            <div class="p-3 anc">
                <a class="anc" href="">terms and conditions</a>
            </div>
        </div>


    </div><br><hr><br>
    <div class="row container">
        <div class="col-sm-4 col-lg-6">
            <p>2018 Farmhouse-All rights reserved</p>
        </div>
        <!-- <div class="col-sm-4 col-lg-6">
            <p>2018 Farmhouse-All rights reserved</p>
        </div> -->
    </div>
    
</footer>