<div class="container s2 p-4">
    <h2 class="text-success">Gallery</h2>
</div>
<div class="container-fluid">
    <div class="container">

    <div class="row">
            <div class="card col-lg-4 col-md-6  col-sm-12 p-2 ss">
                <img src="https://i.postimg.cc/VLM8SdCc/image.png" class="card-img-top hjk" alt="...">

            </div>
            <div class="card col-lg-4 col-md-6  col-sm-12 p-2 ss">
                <img src="https://i.postimg.cc/kMyT4Cjg/image.png" class="card-img-top hjk" alt="...">

            </div>
            <div class="card col-lg-4 col-md-6  col-sm-12 p-2 ss">
                <img src="https://i.postimg.cc/VN63m69M/image.png" class="card-img-top hjk" alt="...">

            </div>
            <div class="card col-lg-4 col-md-6  col-sm-12 p-2 ss">
                <img src="https://i.postimg.cc/ZqJRXNrx/image.png" class="card-img-top hjk" alt="...">

            </div>
            <div class="card col-lg-4 col-md-6  col-sm-12 p-2 ss">
                <img src="https://i.postimg.cc/KYYKRLRv/image.png" class="card-img-top hjk" alt="...">

            </div>
            <div class="card col-lg-4 col-md-6  col-sm-12 p-2 ss">
                <img src="https://i.postimg.cc/J75Nvw29/image.png" class="card-img-top hjk" alt="...">

            </div>
            <div class="card col-lg-4 col-md-6  col-sm-12 p-2 ss">
                <img src="https://i.postimg.cc/VN63m69M/image.png" class="card-img-top hjk" alt="...">

            </div>
            <div class="card col-lg-4 col-md-6  col-sm-12 p-2 ss">
                <img src="https://i.postimg.cc/ZqJRXNrx/image.png" class="card-img-top hjk" alt="...">

            </div>
            <div class="card col-lg-4 col-md-6  col-sm-12 p-2 ss">
                <img src="https://i.postimg.cc/KYYKRLRv/image.png" class="card-img-top hjk" alt="...">

            </div>
        </div>
    </div>
</div>