<br><br><div class="container-fluid">
    <div class="container d-flex p-4" style="text-align: center;">
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos qui dignissimos fuga nulla eum
                consequuntur,
                blanditiis voluptate rem delectus modi quia molestias repudiandae esse pariatur temporibus explicabo
                provident voluptas. Vitae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam obcaecati
                eaque
                veritatis officia autem voluptate perspiciatis perferendis, sunt illum vero, aspernatur ab et assumenda
                distinctio accusantium qui dolores reprehenderit ipsam!</p>
        </div>
    </div>
</div>