
    <div class="col-lg-12 d-flex " style="width: 100%;">
<img class="d-flex" style="width: 100%;" src="https://i.postimg.cc/kGzb0NZh/image.png" alt="">

</div>
<div class="searchForm">
    <div class="container p-3">
        <form class="form-inline search-farmhouse form-row bg-success " 
            >
            <div class="col-sm col-6">
                <div class="form-group">
                    <div class="form-icon"> <i class="fa fa-map-marker"></i></div>
                    <label class="white">Search Farmhouse</label>
                    <div class="me-2">
                        <input type="text" class="form-control pac-target-input " placeholder="Location" id="pac-input"
                            name="pac-input" autocomplete="off">
                    </div>

                    <span class="focus-border"></span>
                </div>
            </div>
            <div class="col-sm col-6 me-2">
                <div class="form-group">
                    <div class="form-icon"><i class="fa fa-calendar"></i></div>
                    <label class="white">From</label>
                    <input type="date" placeholder="dd-mm-" id="from_date" name="from_date"
                        class="form-control form_datetime hasDatepicker">
                    <span class="focus-border"></span>
                </div>
            </div>
            <div class="col-sm col-6 me-2">
                <div class="form-group">
                    <div class="form-icon"><i class="fa fa-calendar"></i></div>
                    <label class="white">To</label>
                    <input type="date" id="end_date" name="end_date" class="form-control form_datetime hasDatepicker">
                    <span class="focus-border"></span>
                </div>
            </div>
            <div class="col-sm col-6 me-2">
                <div class="form-group">
                    <div class="form-icon"><i class="fa fa-user"></i></div>
                    <label class="white">Guest</label>
                    <input type="number" id="adult" name="guestnumber" class="form-control " placeholder="No of guests"
                        min="1">

                    <span class="focus-border">
                        <!-- <p id="guest_num" style="color:#fff;"></p> -->
                    </span>

                </div>
            </div>
            <div class="col-sm col-6 ">
                <div class="form-group ">
                    <!-- <input type="button" class="btn btn-green text-upper white mt-3" id="search_btn" value="search"> -->
                    <button class="btnhh" style="border-radius: 10px;" type="submit">search</button>
                </div>
            </div>
        </form>

    </div>
    <div class="d-flex p-4">
        <div class="container text-success" style="text-align: center;">
            <h2 class="text1"> FarmHouses</h2>
        </div>
    </div>
    <div class="container">
    <div class="row p-4 " id="filter_farm">
        <div class="card col-lg-4 col-md-6  col-sm-12 p-4" style="border: none;">

            <img src="https://i.postimg.cc/TY5Pd1Cv/image.png" class="card-img-top im1" alt="...">
            <div class="card-body">
                <h5 class="card-title text-success">sea lagoon health resort</h5>
                <p class="card-text"style="color: rgb(114, 112, 112);">Cradled between the turbulent waves of the Arabian Sea on one side and the serene backwaters on the ...</p>
                <a href="single-view"  class="btn btn-success">Readmore</a>
            </div>
        </div>

        <div class=" card col-lg-4 col-md-6  col-sm-12 p-4" style="border: none;">

            <img src="https://i.postimg.cc/Y0dtr4sY/image.png" class="card-img-top im1" alt="...">
            <div class="card-body">
                <h5 class="card-title text-success">LES 3 Elephants</h5>
                <p class="card-text"style="color: rgb(114, 112, 112);">French owned, designed and managed Backwaters Boutique Eco Resort, 200 meters from the Arabian Sea. ...</p>
                <a href="single-view"  class="btn btn-success">readmore </a>
            </div>
        </div>

        <div class="card col-lg-4 col-md-6  col-sm-12 p-4" style="border: none;">

            <img src="https://i.postimg.cc/rmSmkwTN/image.png" class="card-img-top im1" alt="...">
            <div class="card-body">
                <h5 class="card-title text-success">Evergreen Farmhouse</h5>
                <p class="card-text"style="color: rgb(114, 112, 112);">Our Homestay is a good Homestay we have many features one of ours room is AC bedroom & another one i...</p>
                <a href="single-view" class="btn btn-success">Readmore</a>
            </div>

        </div>


        <div class="mt-3 card col-lg-4 col-md-6  col-sm-12 p-4" style="border: none;">

            <img src="https://i.postimg.cc/0NyFvWqW/image.png" class="card-img-top im1" alt="...">
            <div class="card-body">
                <h5 class="card-title text-success">Aranya homestay wayanad</h5>
                <p class="card-text"style="color: rgb(114, 112, 112);">Aranya Homestay is a Traditional Kerala Style Home within the Aranya Farms right in the lap of the B...</p>
                <a href="single-view" class="btn btn-success">Readmore</a>
            </div>
        </div>



        <div class="mt-3 card col-lg-4 col-md-6  col-sm-12 p-4" style="border: none;">

            <img src="https://i.postimg.cc/rmSmkwTN/image.png" class="card-img-top im1" alt="...">
            <div class="card-body">
                <h5 class="card-title text-success">Kalathil lake resort</h5>
                <p class="card-text"style="color: rgb(114, 112, 112);">Kalathil Lake Resort is all set to render hospitality service with added flavors to the distinguishe...</p>
                <a href="single-view" class="btn btn-success">Readmore</a>
            </div>
        </div>

        <div class="mt-3 card col-lg-4 col-md-6  col-sm-12 p-4" style="border: none;">


            <img src="https://i.postimg.cc/mrWWGNgK/image.png" class="card-img-top im1" alt="...">
            <div class="card-body">
                <h5 class="card-title text-success">Kumarakom Guest House</h5>
                <p class="card-text" style="color: rgb(114, 112, 112);">It is a three bedroom lakeview villa. It is set up with all necessery amenities like washing machine...</p>
                <a href="single-view" routerLink="register" class="btn btn-success">Readmore</a>
            </div>
        </div>
    </div>
</div>